<div class="container">
<div class="row mt-10">
    <button class="col-2 float-right btn btn-danger" (click)="back()">Back</button>
    <button class="offset-7 col-3 float-left btn btn-success" (click)="download()">Download Sessions</button>
</div>


    <div class="row table-body" *ngFor="let session of sessions; let i = index">
        <div class="col-2 offset-2 mr-4">{{i+1}}</div>
        <div class="col-3 mr-4">{{session.checkInDate | date:'medium': 'IST'}}</div>
        <div class="col-3 mr-4">{{session.checkOutDate | date:'medium'}}</div>
    </div>

</div>